body {
    background-color: #36AD7C;
    background-size: cover;
    color: #ffffff;
}

@media (min-width: 1024px){
    .box-01-index {
        width: 100%;
        height: 100%;
        top:50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    .form-index-beta {
        width: 100%;
        height: 100%;
    }

    .box-02-index {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box-01-index button {
        width: 25%;
        height: 86%;
        margin: 20px;
        color: #ffffff;
        font-size: 44px;
        font-family: 'Bahnschrift Regular';
        border: none;
        border-radius: 17px;
        box-shadow: 2px 2px 47px 14px rgba(0, 0, 0, 0.664);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        animation-duration: 2s;
        animation-name: bounceIn;
    }

    .iconindex i{
        width: 100%;
        height: 35%;
        margin: 10px;
    }
    
}


@media (max-width: 1023px) {

    .iconindex i{
        width: 100%;
        height: 35%;
        margin: 10px;
    }
    

    .box-01-index {
        width: 100%;
        height: 100%;
        top:50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
        .form-index-beta {
            width: 100%;
            height: 100%;
        }

    .box-02-index {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .box-01-index button {
        width: 80%;
        height: 30%;
        margin-bottom: 10px;
        margin-top: 10px;
        color: #ffffff;
        font-size: 34px;
        font-family: 'Bahnschrift Regular';
        border: none;
        border-radius: 17px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}
@media (min-width: 900px) {
    .iconindex i{
        width: 100%;
        height: 40%;
        margin: 10px;
    }
    
}


.funcionarios:hover{
    background-color: #074e68;
    transform: scale(1.1);
    margin-left: 70px;
    margin-right: 70px;
    border: 5px solid #042733;
}

.baterponto:hover {
    background-color: rgb(189, 17, 37);
    transform: scale(1.1);
    margin-left: 70px;
    margin-right: 70px;
    border: 5px solid rgb(68, 5, 12);
}

.administracao:hover {
    background-color: rgb(179, 69, 25);
    transform: scale(1.1);
    margin-left: 70px;
    margin-right: 70px;
    border: 5px solid rgb(51, 17, 3);
}

@keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(0.7);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }