
    @font-face {
    font-family: 'Bahnschrift Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bahnschrift Regular'), url('../fonts/bahnschrift.woff') format('woff');
    }

    @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h3 {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}


.conteiner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-body {
    width: 100%;
    height: 725px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.body-inicio {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.botao-box {
    background-color: #dfffff00;
    border: none;
}

.box-func a {
    color: #ffffff;
    font-size: 50px;
    font-family: 'Bahnschrift Regular';
    text-decoration: none;
}

.box-ponto a {
    color: #ffffff;
    font-size: 50px;
    font-family: 'Bahnschrift Regular';
    text-decoration: none;
}

.body-inicio button:focus {
    /*Para não ficar linhas quando o botão foi focado*/
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px; 
}

.box-func {
    margin-right: 30px;
    width: 630px;
    height: 391px;
    background-color: rgba(0, 106, 14, 0.514);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}

.box-ponto {
    margin-left: 30px;
    width:630px;
    height: 391px;
    background-color: rgba(0, 41, 138, 0.486);
    opacity: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}

.box-admin {
    width: 692px;;
    height: 83px;
    background-color:rgba(255, 29, 37, 0.521);
    opacity: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}

.box-admin a {
    color: #ffffff;
    font-size: 50px;
    font-family: 'Bahnschrift Regular';
    text-decoration: none;
}


/* Stilo Intervalos.html */

.bodyintervalos {

    background-color: #052138;
}

.form-intervalos {
    widows: 100%;
    height: 100%;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

}


.intervalo-box {
    width: 24%;
    height: 95%;
    margin-right: 15px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    font-family: 'Bahnschrift Regular';
    font-size: 40px;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 47px 14px rgba(0, 0, 0, 0.664);
}

#entrada {
    background-color: #E6CC9F;
}

#pausa {
    background-color: #FFB600;
   
}

#retorno {
    background-color: #AEA78E;
   
}

#saida {
    background-color: #FA2742;
}

.body-intervalo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.intervalo-icon {
    width: 100%;
    height: 35%;
}

.intervalo-icon img{
    width: 100%;
    height: 100%;
}


/* Body Login */

.login-body {
    width:100%;
	height: 100%;
  top:50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-background {
    width: 30%;
    height: 100%;
    background-color: rgba(25, 0, 95, 0.534);
}

.login-form {
    width: 70%;
    height: 100%;
    background-color: rgba(25, 0, 95, 0.966);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-form input{
    height: 40px;
    border-radius: 50px;
    font-size: 40pt;
    padding: 20px;
    margin: 20px;
}

.alinhamento-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.enviar-form input{
    width: 300px;
    height: 60px;
    border-radius: 7px;
    margin-top: 40px;
}


.box-form input:focus {
    /*Para não ficar linhas quando o botão foi focado*/
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px; 
}

.title-login P{
    font-size: 50px;
    color: #ffffff;
    font-family: 'Bahnschrift Regular';
    margin-bottom: 60px;
}


/* Área de Administração */

.icon img{
    width: 290px;
    height: 210px;
    margin: 10px;
}

.box-02-admin button {
    width: 20%;
    height: 90%;
    margin: 20px;
    color: #ffffff;
    font-size: 44px;
    font-family: 'Bahnschrift Regular';
    border: none;
    box-shadow: 2px 2px 47px 14px rgba(0, 0, 0, 0.664);
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-02-admin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.funcionariosadmin {
    background-color: #005574;
}

.horas {
    background-color: #006A56;
}

.empresas {
    background-color: #4F00C9;
}

.administradores {
    background-color: #00266A;
}

.backup {
    background-color: #1D6F3A;
}

.cadastro {
    background-color: #571C5C;
}

.turnos {
    background-color: #C95937;
}

.sair {
    background-color: #BC1D26;
}


/* Cadastro de Usuários */
.box-form-01 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.box-11-form {
    width: 94%;
}

.box-cadastro {
    display: flex;
    justify-content: space-between;
}

.box-cadastro .telefone {
    width: 30%;
}

.box-cadastro input {
    width: 30%;
    height: 50px;
    margin-bottom: 50px;
    margin-left: 27px;
    margin-right: 27px;
    border-radius: 4px;
    padding-left: 5px;
    border: 1px solid rgb(49, 49, 49);
}

::-webkit-input-placeholder {
    color: #353535;
    font-family: 'Bahnschrift Regular';
    text-align: left;
    
}

.upload-arquivos img {
    width: 50px;
}

.upload-arquivos {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.upload-box-icons {
    margin-left: 30px;
    display: flex;
}
.upload-box-icons button {
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Bahnschrift Regular';
    border: none;

}

.botaoimagem {
    background-color: #56007F;
    margin-right: 50px;
}

.botaodigital {
    background-color: #008A55;
}

.checkboxcadastro{
    font-size: 20px;
    font-family: 'Bahnschrift Regular';
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 20px;
    background-color: #9F4300;
    color: #ffffff;
    padding: 20px;
    margin-right: 30px;
}

.checkboxcadastro input {
    width: 20px;
}

.botaocadastrar {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botaocadastrar input {
    width: 250px;
    height: 50px;
    border-radius: 4px;
    background-color: #B4000F;
    border: none;
    font-size: 23px;
    color: #ffffff;
    font-family: 'Bahnschrift Regular';
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    margin-top: 20px;
}

.box-turnos-funcionario {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 50px;
    color: #FFFFFF;
}

.box-turnos-funcionario input {
    width: 30%;
    height: 50px;
    margin-bottom: 50px;
    margin-left: 27px;
    margin-right: 27px;
    border-radius: 4px;
    padding-left: 5px;
    border: 1px solid rgb(49, 49, 49);
}

#select-cadfuncionarios {
    width: 30%;
    height: 50px;
    margin-bottom: 50px;
    margin-left: 27px;
    margin-right: 27px;
    border-radius: 4px;
    padding-left: 5px;
    border: 1px solid rgb(49, 49, 49);
}

#select-cadfuncionarios option {
    font-size: 15px;
    font-family: 'Bahnschrift Regular';
}

.titulonavbar {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.cad-func-empresa {
    width: 30%;
    height: 50px;
    margin-bottom: 50px;
    margin-left: 27px;
    margin-right: 27px;
    border-radius: 4px;
    padding-left: 5px;
    border: 1px solid rgb(49, 49, 49);
}


/* Pagina de Registro de Ponto */

.body-contagem-ponto {
    width: 100%;
    height: 100%;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: #350800;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.titulo-sucesso {
    font-size: 25px;
    color: #ffffff;
}


.box-contagem-ponto {
    display: flex;

}

.box-data {
    width: 234px;
    height: 270px;
    background-color: #ffffff;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    font-size: 70px;
    padding: 30px;
    font-weight: bold;
}

.box-inferior-registro {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoes { 
    border-radius: 50px;
    text-decoration: none;
    font-family: 'Bahnschrift Regular';
    font-size: 40px;
    color: #FFFFFF;
}

.botoes.voltar {
    background-color: #5F0025;
    margin-right: 20px;
    padding: 25px 180px 25px 180px;
}

.botoes.sair { 
    padding: 25px 180px 25px 180px;
    background-color: #3E008A;
    margin-left: 20px;
}

/* Teste Formulario Entrada */

.form-intervalos {
    width: 100%;
    height: 100%;
}

#entrada-input {
    background-image: url('../imagens/icons/door.svg');
    background-repeat: no-repeat;
    background-size: 260px;
    background-position-x: 40px;
    background-position-y: 450px;
    width: 25%;
    height: 900px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
    text-orientation: sideways-right;
    font-family: 'Bahnschrift Regular';
    font-size: 40px;
    color: rgb(0, 0, 0);
    padding-top: 180px;
}

/* Pagina funcionarios.html */

.body-funcionarios-li {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.topo-funcionarios {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-funcionarios {
    width: 800px;
    height: 75px;
    font-size: 40px;
    background-color: #FF002B;
    border-radius: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin: 20px;
}

.pesquisa-funcionarios {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 10px;
}

.info-funcionarios {
    width: 404px;
    height: 62px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    font-size: 28px;
    font-weight: bold;
}

.menu-desativado-red, .menu-ativado-green {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circulo-desativados {
    width: 25px;
    height: 25px;
    border-radius: 12px;
    background-color: #FF002B;
    margin-right: 15px;
}


.circulo-ativo {
    width: 25px;
    height: 25px;
    border-radius: 12px;
    background-color:#1FFF91;
    margin-right: 15px;
    margin-left: 15px;
}

.texto-desativado {
    margin-right: 10px;
}
.pesquisa-input-funcionarios {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-right: 50px;
}

.pesquisa-input-funcionarios input {
    width: 400px;
    height: 65px;
    border-radius: 40px;
    font-size: 28px;
    padding: 20px;
    border: none;
    font-weight: bold;
    background-color: #00000042;
}
.icon-advanced-func img {
    width: 30px;
    height:30px;
    margin-left: 10px;
}

.alinhamento-func {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circulo-body {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
}
.icon-advanced-func {
    width: 30px;
    height: 30px;
}

.lista-funcionarios-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.imagem-box-perfil {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    display: flex;
    background-color: #EDA454;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.imagem-box-perfil img {
    width: 123px;
    height: 171px;
}

.box-funcionarios-info {
    display: flex;
    width: 19%;
    height: 400px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #034f6b;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}

.nome-funcionario {
    margin-bottom: 5px;
}
.loja-funcionario {
    margin-top: 5px;
    margin-bottom: 20px;
}

.form-bodyfuncionarios{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.lista-funcionarios-conteiner button {
    width: 100%;
    background-color: #00000000;
    color: #FFFFFF;
    height: 100%;
    border-radius: 20px;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bahnschrift Regular';
    font-size: 30px;
}

/* INDEX BETA ESTILO */
.iconindex img {
    width: 100%;
    height: 100%;
}

.funcionarios {
    background-color: #179fd1;
}

.baterponto {
    background-color: rgb(224, 59, 79);
}

.administracao {
    background-color: rgb(226, 113, 68);
}

.funcionarios, .baterponto, .administracao{
    transition: 0.3s ease-in;
}¨



/* Registro de Ponto */

.ponto-imagem-box {
    width: 300px;
    height: 300px;
}

.ponto-imagem {
    background-color: #ef4848;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.ponto-title {
    font-size: 30px;
}


.conteiner-ponto {
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    color: #FFFFFF;
}

.alinhamento-bater-ponto {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.input-ponto {
    display: flex;
    align-items: center;
    justify-content: center;
}

#password-ponto{
    width: 400px;
    height: 60px;
    font-size: 60px;
    color: #FFFFFF;
    background-color: #0000005e;
    border: none;
}

.ponto-imagem img{
    width: 200px;
    height: 200px;
}

.imgponto {
    width: 60px;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #ef4848;
    border: none;
}

/* PAGINA DE PERFIL */

.botaofuncionarioperfil {
    background-color: #00000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.topo-perfil {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.perfil-funcionario {
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.box-perfil-pessoal {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.widgets {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.widgets-box {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.circulo-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 35px;
}

.perfil-body {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil-body img {
    width: 170px;
    height: 170px;
}

.box-info-perf {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil-alinha {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.prev-infos {
    width: 50%;
    height: 200px;
    color: rgb(0, 0, 0);
    font-size: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.prev-infos h3 {
    margin: 10px;
}


.box-perfil-dados {
    width: 90%;
    height: 80%;
    background-color: #333333;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    color: #ffffff;
    padding-left: 10px;
}

.box-perfil-dados p {
    margin: 7px;
}

.widgets-01 {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.widgets-01 p {
    margin: 16px;
    color: rgb(0, 0, 0);
    font-size: 35px;
}

.botao-editar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-editar button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: #00000000;
    border: 2px solid #38b764;
    color: white;
    font-size: 15px;
}

.relatoriofuncionario {   
    width: 55%;
    height: 80px;
    margin: 0;
    border: 0;
    border-radius: 10px;
    position: absolute;
    background-color: #253031;
    padding-left: 50px;
    padding-right: 50px;
    color: #FFFFFF;
}

.botaogerarrelatorio {
    width: 140px;
    height: 45px;
    background-color: #253031;
    color: #ffffff;
    padding: 5px;
}

.alinhamentotriangulo {
    margin: 0;
    border: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-end; 
}

.triangulorelatorio {
    margin: -1px;
    border: 0;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    border-top: 17px solid #253031;
    display: inline-block;
}

.relatorio-widgets-funcionario input {
    margin-left: 5px; 
    width: 170px;
    height: 30px;
}

.relatorio-widgets-funcionario select {
    width: 250px;
    height: 30px;
}

.div-funcionario-relatorio {
    margin: 20px;
}

.relatorio-widgets-funcionario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.inputrelatoriofuncionario {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between
}
.relatoriofunc2 {
    display: none;
}

.relatoriovisivel {
    display: block;
}

.relatorio-widgets-funcionario .inputfuncionariorel {
    width: 300px;
    font-size: 20px;
}

.botaoeditar button:hover {
    background-color: #ffffff;
    border: black;
    color: black;
}

.relatoriofuncionario21 {
    width: 100%;
    margin:0;
    padding: 0;
    height: 100%;
}

/* Banco de Horas */

.bancodehoras {
    width: 100%;
    display: flex;
}

.divbodyhoras {
    width: 100%;
}
.pesquisatopo {
    width: 100%;
    height: 80px;
    background-color: #009DFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.pesquisatopo div {
    margin: 10px;

}

.informacoeshoras {
    width: 100%;
    height: 250px;
}

.formulariobancodehoras {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.box2019-pesquisa {
    display: flex;
    flex-direction: row;
}

.infostopobar {
    font-size: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}

.infostopobar2 {
    font-size: 20px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.infostopobar input {
    width: 225px;
    height: 30px;
    margin: 10px;
    font-size: 20px;
}

.infostopobar2 input{
    width: 600px;
    height: 30px;
    margin: 10px;
    font-size: 30px;
}

.infostopobar select {
    width: 150px;
    height: 35px;
    font-size: 20px;
    padding-right:  5px;
    padding-left: 5px;
    margin: 10px;
}

.resumododia {
    width: 90%;
    height: 50px;
    display: flex;
    align-items: flex-end;
    padding-left: 50px;
    font-size: 25px;
    font-weight: 400;
    border-bottom: 1px solid #009DFF;
    padding-bottom: 15px;
}

.botaopesquisatopo input{
    width: 150px;
    height: 45px;
    padding: 10px;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 15px;
    background-color: rgb(12, 209, 133);
}
.informacoeshoras {
    display: flex;
    align-items: center;
    justify-content: center;
}

.horasextras, .totalhoras, .totalfaltas, .totalatestados {
    width: 350px;
    height: 130px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    color: white;

}

.horasextras {
    background-color: #FF5165;
}

.totalhoras {
    background-color: #008A55;
}

.totalfaltas {
    background-color: #F55D3E;
}

.totalatestados {
    background-color: #571C5C;
}


/* TABELA HORAS DADOS */

.tabelabancohoras {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 30px;
}

.tablehorasbody {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tablehorasbody td{
    border-bottom: 2px solid rgb(0, 0, 0);
    padding: 30px;
}

.tablehorasbody th {
     border-bottom: 2px solid rgb(0, 0, 0);
     padding-bottom: 13px;
     padding-left: 30px;
     padding-right: 30px;
}

table tr td{
    margin: 0px;
    padding: 0px;
    border: none;
}


/* Informaçoes Empresas */

.titulocadastrodeempresa {
    color: #FFFFFF;
    margin-top: 15px;
    font-size: 25px;
}

.conteiner-box-empresa-menu-lateral-alinhamento {
    display: flex;
    width: 100%;
    height: 100%;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.conteiner-box-empresa-menu-lateral-content {
    width: 100%;
}

.formularioempresas {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


.navbartopoint {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #497EFF;
}

.inputempresasimages {
    width: 37px;
    height: 37px;
    padding: 3px;
}


.inputsacoes  {
    width: 130px;
    height: 45px;
    font-size: 20px;
    font-family: 'Bahnschrift Regular';
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(71, 119, 238);
    border: 0px solid black;
    color: #FFFFFF;
}

.inputsacoes:hover {
    background-color: rgb(52, 92, 196);
}

.inputpesquisa {
    width: 300px;
    height: 40px;
    margin: 0;
    border: none;
    font-size: 25px;
}

.inputempresasimages:hover {
    background-color: #497EFF;
}

.pesquisa {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #FFFFFF;
    margin-right: 25px;
}

.pesquisa label {
    margin-right: 10px;
    font-family: 'Bahnschrift Regular';
}

.boxempresa {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

.boxlistaempresa {
    width: 400px;
    height: 200px;
    color: #FFFFFF;
    background-color: #7632FF;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo-empresanumero {
    font-size: 30px;
    font-weight: 700;
}
/* .titulo-empresanumero, .razaosocialempresas, .cnpjempresas, .numerofuncionariosempresas {
    margin: 7px;
} */

.cadastroempresa {
    margin: 20px;
    height: 500px;
    background-color: #32322C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.botaocadastroempresa {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alinhamentoempresa {
    display: flex;
    width: 100%;
}

.alinhamentoempresa2 {
    display: none;
    width: 40%;
}


.titulocadastro {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-size: 30px;
    color: #FFFFFF;
    margin: 10px;
}

.cadastroempresa input {
    font-size: 20px;
    border-radius: 5px;
    background-color: #00000000;
    border:  1px solid #ffffff;
    color: #FFFFFF;
    padding: 10px;
}

.boxinputs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rzsocial {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rzsocial input {
 width: 85%;
 height: 35px;
 font-size: 30px
}

.cnpjempresa {
    width: 100%;
    height: 45px;
    margin: 10px;
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.cnpjempresa input {
 width: 85%;
 height: 35px;
 font-size: 30px
}

.rzsocial input::-webkit-input-placeholder {
    padding: 0;
    font-size: 20px;
    color: #FFFFFF;

}

.cnpjempresa input::-webkit-input-placeholder {
    padding: 0;
    font-size: 20px;
    color: #FFFFFF;

}

.selecaoadmin {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.selecaoadmin select {
    width: 89%;
    height: 45px;
    padding: 5px;
    font-size: 20px;
}

.formcadastroempresa {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
  .abrirempresa {
      display:block;
      position: absolute;
    }

    /* Estilo dos turnos */

    .conteiner-alinhamento-center {
        width: 100%;
        height: 100%;
        top:50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        background-color: #46494C;  
        display: flex; 
        flex-direction: row;

    }

    .menulateral {
        background-color: #000000;
        width: 4%;
        height: 100%;
    }

    .bodyturnos {
        width: 100%;
        height: 100%;
    }

    .logoempresa {
        width: 100%;
        height: 10%;
        padding-top: 10px;

    }

    .icon-menu-bar-direita img {
        width: 100%;
        margin-top: 30px;
        height: 40px;
    }

    .icon-menu-bar-direita img:hover {
        padding-top: 10px;
        padding-bottom: 10px;
        transition: all 0.3s ease 0s;
    }

    .logoempresa img {
        width: 100%;
        height: 60px;
    }

    .navbar-topo {
        width: 100%;
        height: 7%;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .botoesturnos {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-left: 50px;
        width: 100%;
    }

    .btn-actions{
        padding: 8px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 5px;
        color: #FFFFFF;
    }


  .botaoeditar {
    margin-left: 10px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 13px;
      padding-top: 13px;
      border-radius: 5px;
      background-color: #FFFFFF;
      color: #000000;
      font-weight: 700;
  }
  
  .botaoeditar:hover {
      background-color: rgb(0, 0, 0);
      border: 1px solid rgb(255, 255, 255);
      color: #ffffff;
      cursor: pointer;
  }

  .info-turnos {
      width: 100%;
      height: 93%;
      background-color: #DCDCDD;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .table-info-turnos {
      width: 95%;
      height: 95%;
      background-color: #FFFFFF;
      box-shadow: 10px 10px 10px 10px #888888;
  }

  .tabela-turnos {
      color: black;
      width: 100%;
  }

  .titulo-turnos {
    width: 97.2%;
      height: 50px;
      margin-bottom: 40px;
      color: #ffffff;
      font-size: 25px;
      padding-left: 50px;
      padding-top: 20px;
      background-color: black;
  }

  .tabela-turnos tr td {
      color: #202020;
      text-align: center;
      font-size: 18px;
      padding: 10px;
  }

  .botao-acoes-table {
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: #F55D3E;  
      color: #FFFFFF;
      border: none;
      cursor: pointer;
    }

    .tabela-turnos tr td:hover .box-table-opt{
         display: block;
    }

    .box-table-opt {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 150px;
        height: 80px;
        position: absolute;
        margin: 10px 10px 10px 50px;
        display: none;
        transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    }
    
    .box-table-opt button {
        margin: 5px 0px 5px 0px;
        width: 75%;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #0080FF;  
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        
    }

    .box-cadastrar-turnos {
        margin-top: 25px;
        margin-left: 25px;
        width: 40%;
        height: 35%;
        position: absolute;
        background-color: #383737;
        padding: 10px;
        display: flex;
        color: #FFFFFF;

    }

    .botoesturnos {
        width: 20%;
        height: 80%;
    }

    .icon-btn {
        width: 60%;
        height: 88%;
        border-radius: 5px;
    }

    div.hide {
        opacity: 0;
        pointer-events: none;
      }

    
      .remover-turnos {
        opacity: 0;
        pointer-events: none;
      }

    .in-putin-turnos select {
        width: 90%;
        height: 100%;
        margin-top: 5px;
    }

    .in-putin-turnos input {
        width: 90%;
        height: 87%;
        margin-top: 5px;
    }
      

    .in-putin-turnos {
        width: 100%;
        height: 30%;
    }


    .box-cadastro-turnos {
        display: flex;
        width: 100%;
        height: 30%;
    }

    .turnos-box-inputins {
        width: 50%;
        height: 100%;
    }

    .turnos-botao-cadastrar {
        width: 100%;
        height: 10%;
    }
    
    .formenviarturnos {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .turnos-botao-cadastrar button {
        width: 130px;
        height: 100%;
        background-color: #F55D3E; 
        border: none;
        color: #FFFFFF;
       
    }

    .turnos-botao-cadastrar {
         display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-close {
        width: 47px;
        height: 27px;
        font-size: 20px;
        font-weight: bold;
        color: #FFFFFF;
        background-color: #FF1248;
        text-align: center;
        border: NONE;
    }

    #adicionarturno {
        background-color: #0D0106;
        border: none;
        color: #FFFFFF;
        font-size: 16px;
    }

    #adicionartu-rno:hover {
        background-color: #FFFFFF;
        border: 1px solid black;
        color: #000000;
        cursor: pointer;
    }

    /* NAVBARS */

    .navbar-black {
        width: 100%;
        height: 7%;
        background-color: #000000;
        position: initial;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;}

    
    .navbar-white {
        width: 100%;
        height: 7%;
        background-color: #ffffff;
        position: initial;
        display: flex;
        align-items: center;
        justify-content: center;}

    /* Administradores */ 


    .conteiner-box-administradores {
        width: 100%;
        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #bebebe;
    }

    .conteiner-box-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    .content-box-shawdow {
        width: 95%;
        height: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FFFFFF;
        box-shadow: 10px 10px 10px 10px #888888;
    }

    .tabela-administradores {
        margin-top: 40px;
        width: 90%;
        text-align: center;
    }

    .tabela-administradores td {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .conteudo-navbar-admin {
        width: 94%;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 15px;
    }

    .navbar-black p {
        font-size: 20px;
    }