@font-face {
    font-family: 'Bahnschrift Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bahnschrift Regular'), url('../fonts/bahnschrift.woff') format('woff');
    }

body{
    margin: 0;
    padding: 0;
    font-family: 'Bahnschrift Regular';
}


.conteiner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-body {
    width: 100%;
    height: 725px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.body-inicio {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.botao-box {
    background-color: #dfffff00;
    border: none;
}

.box-func a {
    color: #ffffff;
    font-size: 50px;
    font-family: 'Bahnschrift Regular';
    text-decoration: none;
}

.box-ponto a {
    color: #ffffff;
    font-size: 50px;
    font-family: 'Bahnschrift Regular';
    text-decoration: none;
}

.body-inicio button:focus {
    /*Para não ficar linhas quando o botão foi focado*/
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px; 
}

.box-func {
    margin-right: 30px;
    width: 630px;
    height: 391px;
    background-color: rgba(0, 106, 14, 0.514);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}

.box-ponto {
    margin-left: 30px;
    width:630px;
    height: 391px;
    background-color: rgba(0, 41, 138, 0.486);
    opacity: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}

.box-admin {
    width: 692px;;
    height: 83px;
    background-color:rgba(255, 29, 37, 0.521);
    opacity: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}

.box-admin a {
    color: #ffffff;
    font-size: 50px;
    font-family: 'Bahnschrift Regular';
    text-decoration: none;
}


/* Stilo Intervalos.html */

.bodyintervalos {

    background-color: #052138;
}

.form-intervalos {
    widows: 100%;
    height: 100%;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

}


.intervalo-box {
    width: 24%;
    height: 95%;
    margin-right: 15px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    font-family: 'Bahnschrift Regular';
    font-size: 40px;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 47px 14px rgba(0, 0, 0, 0.664);
}

#entrada {
    background-color: #E6CC9F;
}

#pausa {
    background-color: #FFB600;
   
}

#retorno {
    background-color: #AEA78E;
   
}

#saida {
    background-color: #FA2742;
}

.body-intervalo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.intervalo-icon {
    width: 100%;
    height: 35%;
}

.intervalo-icon img{
    width: 100%;
    height: 100%;
}


/* Body Login */

.login-body {
    width:100%;
	height: 100%;
  top:50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-background {
    width: 30%;
    height: 100%;
    background-color: rgba(25, 0, 95, 0.534);
}

.login-form {
    width: 70%;
    height: 100%;
    background-color: rgba(25, 0, 95, 0.966);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-form input{
    height: 40px;
    border-radius: 50px;
    font-size: 40pt;
    padding: 20px;
    margin: 20px;
}

.alinhamento-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.enviar-form input{
    width: 300px;
    height: 60px;
    border-radius: 7px;
    margin-top: 40px;
}


.box-form input:focus {
    /*Para não ficar linhas quando o botão foi focado*/
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px; 
}

.title-login P{
    font-size: 50px;
    color: #ffffff;
    font-family: 'Bahnschrift Regular';
    margin-bottom: 60px;
}


/* Área de Administração */


.icon img{
    width: 290px;
    height: 210px;
    margin: 10px;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-02-admin {
     display: flex;
    flex-direction: row;
    width: 100%;
    height: 470px;
}

.box-02-admin button {
    width: 25%;
    height: 90%;
    margin: 20px;
    color: #ffffff;
    font-size: 44px;
    font-family: 'Bahnschrift Regular';
    border: none;
    box-shadow: 2px 2px 47px 14px rgba(0, 0, 0, 0.664);
}

.funcionarios {
    background-color: #005574;
}

.horas {
    background-color: #006A56;
}

.empresas {
    background-color: #4F00C9;
}

.administradores {
    background-color: #00266A;
}

.backup {
    background-color: #1D6F3A;
}

.cadastro {
    background-color: #571C5C;
}

.turnos {
    background-color: #C95937;
}

.sair {
    background-color: #BC1D26;
}


/* Cadastro de Usuários */
.box-form-01 {
    width: 100%;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-11-form {
    width: 100%;
}

.box-cadastro {
    display: flex;
    justify-content: space-between;
}

.box-cadastro .telefone {
    width: 63.5%;
}

.box-cadastro input {
    width: 30%;
    height: 72px;
    margin-bottom: 50px;
    font-size: 30px;
    margin-left: 27px;
    margin-right: 27px;
}

::-webkit-input-placeholder {
    color: #000000;
    font-size: 30px;
    font-family: 'Bahnschrift Regular';
    text-align: left;
    
}

.upload-arquivos img {
    width: 80px;
}

.upload-arquivos {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.upload-box-icons {
    margin-left: 30px;
    display: flex;
}
.upload-box-icons button {
    width: 300px;
    height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 30px;
    font-family: 'Bahnschrift Regular';
    border: none;

}

.botaoimagem {
    background-color: #56007F;
    margin-right: 50px;
}

.botaodigital {
    background-color: #008A55;
}

.titulo-cadastro {
    width: 745px;
    height: 75px;
    border-radius: 35px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Bahnschrift Regular';
    margin-bottom: 130px;
}

.checkboxcadastro{
    font-size: 40px;
    font-family: 'Bahnschrift Regular';
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 734px;
    height: 50px;
    border-radius: 35px;
    background-color: #9F4300;
    color: #ffffff;
    padding: 20px;
    margin-right: 30px;
}

.checkboxcadastro input {
    width: 20px;
}

.botaocadastrar {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botaocadastrar input {
    width: 415px;
    height: 88px;
    border-radius: 44px;
    background-color: #B4000F;
    border: none;
    font-size: 40px;
    color: #ffffff;
    font-family: 'Bahnschrift Regular';
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    margin-top: 150px;
}


/* Pagina de Registro de Ponto */

.body-contagem-ponto {
    width: 100%;
    height: 100%;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: #350800;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.titulo-sucesso {
    font-size: 25px;
    color: #ffffff;
}


.box-contagem-ponto {
    display: flex;

}

.box-data {
    width: 234px;
    height: 270px;
    background-color: #ffffff;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    font-size: 70px;
    padding: 30px;
    font-weight: bold;
}

.box-inferior-registro {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoes { 
    border-radius: 50px;
    text-decoration: none;
    font-family: 'Bahnschrift Regular';
    font-size: 40px;
    color: #FFFFFF;
}

.botoes.voltar {
    background-color: #5F0025;
    margin-right: 20px;
    padding: 25px 180px 25px 180px;
}

.botoes.sair { 
    padding: 25px 180px 25px 180px;
    background-color: #3E008A;
    margin-left: 20px;
}

/* Teste Formulario Entrada */

.form-intervalos {
    width: 100%;
    height: 100%;
}

#entrada-input {
    background-image: url('../imagens/icons/door.svg');
    background-repeat: no-repeat;
    background-size: 260px;
    background-position-x: 40px;
    background-position-y: 450px;
    width: 25%;
    height: 900px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
    text-orientation: sideways-right;
    font-family: 'Bahnschrift Regular';
    font-size: 40px;
    color: rgb(0, 0, 0);
    padding-top: 180px;
}

/* Pagina funcionarios.html */

.body-funcionarios-li {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.topo-funcionarios {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-funcionarios {
    width: 800px;
    height: 75px;
    font-size: 40px;
    background-color: #FF002B;
    border-radius: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin: 20px;
}

.pesquisa-funcionarios {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 10px;
}

.info-funcionarios {
    width: 404px;
    height: 62px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    font-size: 28px;
    font-weight: bold;
}

.menu-desativado-red, .menu-ativado-green {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circulo-desativados {
    width: 25px;
    height: 25px;
    border-radius: 12px;
    background-color: #FF002B;
    margin-right: 15px;
}


.circulo-ativo {
    width: 25px;
    height: 25px;
    border-radius: 12px;
    background-color:#1FFF91;
    margin-right: 15px;
    margin-left: 15px;
}

.texto-desativado {
    margin-right: 10px;
}
.pesquisa-input-funcionarios {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-right: 50px;
}

.pesquisa-input-funcionarios input {
    width: 400px;
    height: 65px;
    border-radius: 40px;
    font-size: 28px;
    padding: 20px;
    border: none;
    font-weight: bold;
    background-color: #00000042;
}
.icon-advanced-func img {
    width: 30px;
    height:30px;
    margin-left: 10px;
}

.circulo-body {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 5px;
}
.icon-advanced-func {
    width: 30px;
    height: 30px;
}

.lista-funcionarios-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.imagem-box-perfil {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    display: flex;
    background-color: #EDA454;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.imagem-box-perfil img {
    width: 123px;
    height: 171px;
}

.box-funcionarios-info {
    display: flex;
    width: 19%;
    height: 400px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #034f6b;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}

.nome-funcionario {
    margin-bottom: 5px;
}
.loja-funcionario {
    margin-top: 5px;
    margin-bottom: 20px;
}

.lista-funcionarios-conteiner a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
}


/* INDEX BETA ESTILO */

.box-01-index {
    width: 100%;
    height: 100%;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.box-02-index {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-index-beta {
    width: 100%;
    height: 100%;
}

.box-01-index button {
    width: 25%;
    height: 90%;
    margin: 20px;
    color: #ffffff;
    font-size: 44px;
    font-family: 'Bahnschrift Regular';
    border: none;
    border-radius: 17px;
    box-shadow: 2px 2px 47px 14px rgba(0, 0, 0, 0.664);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.iconindex i{
    width: 100%;
    height: 35%;
    margin: 10px;
}

.iconindex img {
    width: 100%;
    height: 100%;
}

.funcionarios {
    background-color: #005574;
}

.baterponto {
    background-color: #E71D36;
}

.administracao {
    background-color: #E26E3F;
}