body {
    margin: 0;
    padding: 0;
    border: 0;
}

div {
    margin: 0;
    padding: 0;
    border: 0;
}

table {
    margin: 0;
    padding: 0;
    border: 0;
}

table td {
    width: 100%;
}

table tr {
    width: 100%;

}

table th {
    text-align: center;
}

table tbody {
    width: 100%;
    
}